

  
     <img src="./../../assets/Hi_image.jpg"/>

      <div id="About_me">
  
          <h1>About me</h1>
  
          <ul>						
  
              <li><strong>Name :</strong> Sanketh Datla </li>						
  
              <li><b>Home Address :</b> Room 13, SadhanaPada, Adiyogi Alayam</li>
  
              <li><b>Office Address :</b> 1st Floor, Kaivalya Kutir</li>
  
              <li><b>Programming Background :</b><br/>
  
                 &emsp;					Microsoft Full Stack -  Net C#, WPF (UI), WCF (Server), Sql Server (DB), SSRS (Reporting)<br/>
  
                 &emsp;				   	Java <br/>
  
                 &emsp;					Middleware - Solace (Messaging), Oracle Coherence
  
               </li>
              
  
             </ul>
  
        </div>
      
  
      <div id="SPS">
  
          <h2>Spiritual Practice Summary</h2>
  
          <table style="width:40%">
  
              <tr >
  
                <th>Sadhana Practice</th>
  
                <th>Practice Frequency</th>
  
                <th>Practice Time</th>
  
              </tr>
  
              <tr>
  
                <td><a href="https://www.ishayoga.org/hata/teachertraining/angamardana/"  target="blank">Angamardana</a></td>
  
                   <td>Daily</td>
  
                <td>45 minutes</td>
  
              </tr>
  
              <tr>
  
                <td><a href="https://isha.sadhguru.org/yoga/yoga-programs/surya-kriya/"
  
                  target="_blank">Surya Kriya</a></td>
  
                <td><i>Alternate Day</i></td>
  
                <td>40 mins (3 cycles)</td>
  
              </tr>
  
              <tr>
  
                <td><a href="https://www.ishayoga.org/hata/teachertraining/yogasana/"
  
                  target="_blank">Yogasanas</a></td>
  
                <td><i>Alternate Day</i></td>
  
                <td>75 mins</td>
  
              </tr>
  
              <tr>
  
                <td><a href="http://www.ishayoga.org/en/advanced-programs/shoonya-intensive" target="blank">Shakti Chalana Kriya</a></td>
  
                <td>Daily</td>
  
                <td>45-55 mins</td>
  
              </tr>
  
              <tr>
  
                <td><a href="https://isha.sadhguru.org/in/en/wisdom/article/why-shambhavi" target="blank">Shambavi</a></td>
  
                <td>Daily</td>
  
                <td>21-23 mins</td>
  
              </tr>
  
            </table>
  
  
  
            <p class="clear-me"></p>
  
  
  
      </div>
  
  
  
      <hr/>
  
      <div class="Other">
  
        <h3><span style="text-decoration: underline;">Other Interests</span> </h3>
  
        <p>I like to be in nature in free time. There is no strong hobby as such. Only longing is to be experience atleast a glance of stillness one day</p>
  
      </div>
      
  
   
    
    <footer>
  
        <h4><em>Chidananda rupa shivoham shivoham </em></h4>
  
        <img src="./../../assets/Namaskaram.jpg" />
  
    </footer>
  

  
  
  